#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# Keyboard layouts
keyboard --vckeymap=in-eng --xlayouts='in (eng)'
# System language
lang en_IN.UTF-8

ignoredisk --only-use=sda
# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$CUkQb310UVIY7sKH$pPOMw7fNg2T2lMOdmswP/Bf/3XRNT6PjwS9m7EPsRPmDLpIy4ubJaItJd.JTLw3wT/v7OzggC2vO1RUNN6b4j1
# System timezone
timezone Asia/Kolkata --isUtc
user --groups=wheel --name=centos --password=$6$dBsGFFtljeB1gdyF$woHlGNVu.jmFNNNrecYl9ZLGWEAbgAlkQ3PD.yqgLe5HJNI7nRhdoFfpwZgkratE6pEAYH1vCPYyQ3o7tsENS/ --iscrypted --gecos="Centos"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@security-tools
@virtualization-tools
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
